.top-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.post-card {
  position: relative;
  height: auto;
  min-width: 100px;
  padding: 2rem;
  background: var(--primary-text-color);
  color: black;
  font-weight: 500;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: top 0.2s ease 0s, left 0.2s ease 0s, box-shadow 0.2s ease;
}

.post-card > a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.post-title {
  font-weight: bold;
}

.post-card:hover {
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 0 rgba(232, 237, 223, 0.5);
}

.icon_div {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  display: flex;
  gap: 10px;
  margin: 10px 10px 0 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .post-container,
  .top-container {
    width: 80%;
  }
}
